name: Check
on:
  push:

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        command:
          - lint
          - test
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: re-taro/actions/setup-node@v3.7.9
        with:
          node-version-file: .tool-versions
      - name: Build
        run: pnpm build
      - name: Run ${{ matrix.command }}
        run: pnpm ${{ matrix.command }}
