name: Check
on:
  push:

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        command:
          - lint
          - test
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: re-taro/actions/setup-node@v3.7.9
        with:
          node-version-file: .tool-versions
      - name: Build
        run: pnpm build
      - name: Run ${{ matrix.command }}
        run: pnpm ${{ matrix.command }}
