name: Check
on:
  push:

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        command:
          - lint
          - test
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: re-taro/actions/setup-node@v3.7.9
        with:
          node-version-file: .tool-versions
      - name: Build
        run: pnpm build
      - name: Run ${{ matrix.command }}
        run: pnpm ${{ matrix.command }}
